{% extends "base.html" %}

{% block title %}Access Forbidden - Over-Under Contests{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="text-center">
            <h1 class="display-1">403</h1>
            <p class="fs-3"><span class="text-danger">Access Denied!</span></p>
            <p class="lead">You don't have permission to access this resource.</p>
            <a href="{{ url_for('main.index') }}" class="btn btn-primary">Go Home</a>
            <a href="{{ url_for('auth.login') }}" class="btn btn-outline-primary">Login</a>
        </div>
    </div>
</div>
{% endblock %}
