{% extends "base.html" %}

{% block title %}Server Error - Over-Under Contests{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="text-center">
            <h1 class="display-1">500</h1>
            <p class="fs-3"><span class="text-danger">Server Error!</span></p>
            <p class="lead">Something went wrong on our end. Please try again later.</p>
            <a href="{{ url_for('main.index') }}" class="btn btn-primary">Go Home</a>
        </div>
    </div>
</div>
{% endblock %}
